$body-color: #515151;
$white: #ffffff;
$lightgray: #fafafa;
$lightergray: #fbfbfb;
$gray: #ecf0f1;
$dark-gray: #a0a0a0;
$dark-blue: #263959;
$dark: #333030;
$notaslightgray: #ada8a8;
$ltbackground: #eee;
$yellow: #ff0;
$black: #000;