{{ define "main" }} <h2>{{ .Title }}</h2>
<div class="content-box clearfix">
{{ range .Pages }}
	<article class="post">
		{{ if .Params.image }}
		<a class="post-thumbnail" style="background-image: url({{(print "/images/" .Params.image)}})" href="{{.Permalink}}"></a>
		{{ else }}
		{{ end }}
		<div class="post-content">
			<h2 class="post-title"><a href="{{ .Permalink }}">{{.Title}}</a></h2>
			<p>{{ .Summary }}</p>
			<span class="post-date">Published at {{ .Date.Format "January 2, 2006" }} &middot;</span>
			<span class="post-words">&nbsp;{{.ReadingTime}} min read</span>
		</div>
	</article>
  {{ end }}
</div>
{{ end }}